// Left column
.m-col-1 {
  background-color: white;
  position: relative;

  & > * {
    box-sizing: border-box;
  }

  // Logo, Top
  .logo-wrapper {
    border-bottom: 2px solid #edeef1;
    padding: 10px;

    img {
      width: 45px;
      height: 100%;
      display: block;
      box-sizing: border-box;
    }
  }

  // Dashboard Navigation, Middle
  .page-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      display: block;
      opacity: 0.75;
      width: 40px;
      height: auto;
    }
    & a:last-child img {
      width: 35px;
    }
    a {
      padding: 20px 10px;
      margin: 0 0;
    }

    a:hover img {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  // Info Container, Bottom.
  .info-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 8px 0 0 0;
    text-align: center;
    background-color: #f7f8fa;
    .info-icon {
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 30px;
      box-sizing: border-box;
      opacity: 0.45;
    }
  }
}

// Middle column
.m-col-2 {
  width: fit-content;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 334px;
  background-color: white;
  position: relative;
  overflow: hidden;

  border-left: 2px solid #edeef1;
  border-right: 2px solid #edeef1;

  .goal-tracker {
    padding: 15px;
    min-width: 300px;
  }

  .account-wrapper {
    display: flex;
    align-items: center;
    padding: 8px 15px;

    border-bottom: 2px solid #edeef1;
    min-height: 40px;

    .account-icon {
      display: flex;
      align-items: center;

      // Icon
      img {
        width: 35px;
        height: auto;
      }
    }

    .account-name {
      margin-left: 15px;
      font-size: 24px;
      max-width: 250px;
      width: 100%;
      height: 36px;
      overflow: hidden;

      position: relative;
      p {
        position: absolute;
      }
    }
  }

  .tracker-container {
    overflow-y: auto;
    height: calc(100% - 110px);
  }

  // Middle, Goal
  .goal-tracker {
    width: fit-content;
    position: relative;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    a {
      color: blue;
    }

    .goal-top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 2px solid #edeef1;
      padding-bottom: 2.5px;
      margin-bottom: 10px;
      color: $primary;

      .dropdown-toggle {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .goal-container {
      width: 300px;
      // padding: 4px 12px;
      position: relative;

      .text-wrapper {
        display: flex;
        justify-content: space-between;
      }

      .g-i-progress {
        display: flex;
        align-items: center;

        h2 {
          margin: 0 8px;
        }

        .increment,
        .decrement {
          margin-bottom: -4.5px;
          opacity: 0.5;
          filter: grayscale(40%);
        }

        .increment:hover,
        .decrement:hover {
          opacity: 1;
          filter: grayscale(0%);
        }

        .increment {
          transform: rotate(180deg);
        }

        .decrement {
          transform: rotate(0);
          margin-right: 3px;
        }
      }

      .progress-bar {
        border: 1px solid rgba(0, 0, 0, 0.75);
        border-radius: 8px;
        height: 12px;
        overflow: hidden;

        .inner {
          min-height: 100%;
          background-color: #00ffa3;
          box-sizing: border-box;
          color: transparent;
        }
      }

      .g-remove {
        text-align: left;
        margin: 0;
        a {
          text-decoration: none;
          color: black;
          opacity: 0.5;
        }

        a:hover {
          opacity: 1;
        }
      }
    }

    .placeholder-text {
      text-align: center;
    }

    .add-goal-wrapper {
      text-align: center;
    }

    // .goal-container::before {
    //   content: '';
    //   width: 2.5px;
    //   height: 100%;
    //   position: absolute;
    //   left: 2px;
    //   background-color: #633fdbab;
    // }

    // .wrapper .goal-container:last-child::before {
    //   height: 80%;
    // }

    // .wrapper .goal-container:last-of-type::before {
    //   height: 80%;
    // }

    .g-total {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      margin-top: -2.5px;

      h2 {
        font-size: 18px;
      }
    }
  }

  .goal-tracker:nth-child(2) {
    .goal-container {
      .g-i-progress {
        margin-right: -8px;
      }
    }
  }
}
