<!DOCTYPE html>
<html lang="en">
<head>
    {{>partials/head}}
</head>
<body>
    {{>partials/navigation}}
    
    <div class="dashboard-wrapper">
        <div class="sidebar">
            <!-- Personal Goals -->
            <div class="goal-tracker">
                <div class="goal-top">
                    <h1>Your Goals</h1>
                    <div class="dropdown-toggle">
                        <!-- <img src="../style/img/icons/drop-arrow.svg" alt=""> -->
                    </div>
                </div>
                {{#activePersistentGoals}}
                <div class="goal-container">
                    <div class="text-wrapper">
                        <div class="g-i-name"><h2>{{name}}</h2></div>
                        <div class="g-i-progress">
                            <h2><span class="current">{{current}}</span>/<span class="goal">{{goal}}</span></h2>
                            <a href="/decrement/{{_id}}/{{currentWeek}}"><img class="decrement" src="../style/img/icons/drop-arrow.svg" alt=""></a>
                            <a href="/increment/{{_id}}/{{currentWeek}}"><img class="increment" src="../style/img/icons/drop-arrow.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <div class="inner"></div>
                    </div>
                    <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Remove</a></div>
                </div>
                {{/activePersistentGoals}}
                <div class="add-goal-wrapper">
                    <a href="/new/{{currentWeek}}">Add Goal</a>
                </div>
                {{^activePersistentGoals}}
                    <p>Set your own long-term goals!</p>
                {{/activePersistentGoals}}
            </div>

            <!-- Completed Goals -->
            <div class="goal-tracker">
                <div class="goal-top">
                    <h1>Completed Goals</h1>
                    <div class="dropdown-toggle">
                        <!-- <img src="../style/img/icons/drop-arrow.svg" alt=""> -->
                    </div>
                </div>
                <div class="g-total"><h2>Total Completed:</h2> <h2 id="total">0</h2></div>
                {{#completedPersistentGoals}}
                <div class="goal-container">
                    <div class="text-wrapper">
                        <div class="g-i-name"><h2>{{name}}</h2></div>
                        <div class="g-i-progress">
                            <h2><span class="current">{{current}}</span>/<span class="goal">{{goal}}</span></h2>
                        </div>
                    </div>
                    <div class="progress-bar">
                        <div class="inner"></div>
                    </div>
                    <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Remove</a></div>
                </div>
                <script> // Get total completed tasks
                    $("#total").text(parseInt($('#total').text(), 10) + 1) 
                </script>
                {{/completedPersistentGoals}}
            </div>
            <script> 
                // Percentage bar calculation
                $(".goal-container").each(function() {
                    var current = $(this).find(".current").text();
                    var goal = $(this).find(".goal").text();
                    var percentage = Math.round((current/goal) * 100);
                    $(this).find(".progress-bar > .inner").css("width", percentage + "%");
                })
            </script>
        </div>
    
        <div class="main-bar">
            <div class="top-bar">
                <div class="today-btn">
                    <a href="/">Today</a>
                </div>
                <div class="page-change-btn">
                    <a href="/prevWeek/{{currentWeek}}"><</a>
                    <a href="/nextWeek/{{currentWeek}}">></a>
                </div>
                <div class="current-week-display">
                    <p>Week {{currentWeek}}</p>
                </div>
                <div class="current-date-display">
                    
                </div>
            </div>

            <div class="main-wrapper">
                <form class="form-wrapper" method="POST" action="/submit-form/{{currentWeek}}">
                    <input type="text" id="name" name="name" placeholder="What do you want to do this week?" autocomplete="off" autofocus>
                    <input class="test" type="submit" value="Submit"/>
                </form>

                <div class="list-wrapper">
                    <ul>
                        {{#activeRecurring}}
                        <li>
                            <div class="check-circle">
                                <a href="/complete/{{_id}}/{{currentWeek}}"><img src="../style/img/icons/circle-def.png" width="100" height="100"></a>
                            </div>
                            <div class="task"><p>{{name}}</p></div>
                            <div class="edit-buttons">
                                <a href="/editTask/{{_id}}/{{currentWeek}}">Edit</a>
                                <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Delete</a></div>
                            </div>
                        </li>
                        {{/activeRecurring}}
                        {{^activeRecurring}}
                        <ul>
                            <li><p class="empty-msg">No tasks found, enter them using the input above!</p></li>
                        </ul>
                        {{/activeRecurring}}
                        {{#completedRecurring}}
                        <li>
                            <div class="check-circle">
                                <a href="/retractCompleteTask/{{_id}}/{{currentWeek}}"><img src="../style/img/icons/circle-check.png" width="100" height="100"></a>
                            </div>
                            <div class="task checked"><p>{{name}}</p></div>
                            <div class="edit-buttons">
                                <a href="/editTask/{{_id}}/{{currentWeek}}">Edit</a>
                                <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Delete</a></div>
                            </div>
                        </li>
                        {{/completedRecurring}}
                    </ul>
                </div>
        </div>
    </div>
</body>
</html>