<!DOCTYPE html>
<html lang="en">

<head>
    {{>partials/head}}
</head>

<body>
    <div class="dashboard-wrapper">
        <div class="m-col-1">
            <div class="logo-wrapper">
                <a href="/"><img src="../style/img/icons/logo.svg" alt=""></a>
            </div>

            <div class="page-links">
                <a href=""><img src="../style/img/icons/home.svg" alt=""></a>
                <a href=""><img src="../style/img/icons/account.svg" alt=""></a>
                <a href=""><img src="../style/img/icons/friends.svg" alt=""></a>
                <a href=""><img src="../style/img/icons/sharelink.svg" alt=""></a>
                <a href=""><img src="../style/img/icons/logout.svg" alt=""></a>
            </div>

            <div class="info-container">
                <div class="info-icon">
                    <img src="../style/img/icons/info.svg" alt="">
                </div>
            </div>
        </div>

        <div class="m-col-2">
            <div class="account-wrapper">
                <div class="account-icon">
                    <img src="../style/img/icons/account-placeholder.svg" alt="">
                </div>
                <div class="account-name">
                    <p>Adam Brown</p>
                </div>
            </div>

            <div class="tracker-container">
                <!-- Personal Goals -->
                <div class="goal-tracker">
                    <div class="goal-top">
                        <h1>Your Goals</h1>
                        <div class="dropdown-toggle">
                            <!-- <img src="../style/img/icons/drop-arrow.svg" alt=""> -->
                        </div>
                    </div>
                    <div class="g-total">
                        <h2>Active:</h2>
                        <h2 id="total-active">0</h2>
                    </div>
                    <div class="wrapper">
                        {{#activePersistentGoals}}
                        <div class="goal-container">
                            <div class="text-wrapper">
                                <div class="g-i-name">
                                    <h2>{{name}}</h2>
                                </div>
                                <div class="g-i-progress">
                                    <h2><span class="current">{{current}}</span>/<span class="goal">{{goal}}</span></h2>
                                    <a href="/decrement/{{_id}}/{{currentWeek}}"><img class="decrement"
                                            src="../style/img/icons/increment-arrow.svg" alt=""></a>
                                    <a href="/increment/{{_id}}/{{currentWeek}}"><img class="increment"
                                            src="../style/img/icons/increment-arrow.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="inner"></div>
                            </div>
                            <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Remove</a></div>
                        </div>
                        <script> // Get total completed tasks
                            $("#total-active").text(parseInt($('#total-active').text(), 10) + 1)
                        </script>
                        {{/activePersistentGoals}}
                    </div>
                    <div class="add-goal-wrapper">
                        <a href="/new/{{currentWeek}}">Add Goal</a>
                    </div>
                    {{^activePersistentGoals}}
                    <p>Set your own long-term goals!</p>
                    {{/activePersistentGoals}}
                </div>

                <!-- Completed Goals -->
                <div class="goal-tracker">
                    <div class="goal-top">
                        <h1>Completed Goals</h1>
                        <div class="dropdown-toggle">
                            <!-- <img src="../style/img/icons/drop-arrow.svg" alt=""> -->
                        </div>
                    </div>
                    <div class="g-total">
                        <h2>Total Completed:</h2>
                        <h2 id="total-completed">0</h2>
                    </div>
                    <div class="wrapper">
                        {{#completedPersistentGoals}}
                        <div class="goal-container">
                            <div class="text-wrapper">
                                <div class="g-i-name">
                                    <h2>{{name}}</h2>
                                </div>
                                <div class="g-i-progress">
                                    <h2><span class="current">{{current}}</span>/<span class="goal">{{goal}}</span></h2>
                                </div>
                            </div>
                            <div class="progress-bar">
                                <div class="inner"></div>
                            </div>
                            <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Remove</a></div>
                        </div>
                        <script> // Get total completed tasks
                            $("#total-completed").text(parseInt($('#total-completed').text(), 10) + 1)
                        </script>
                        {{/completedPersistentGoals}}
                    </div>
                </div>
            </div>
        </div>

        <div class="main-content">
            <div class="content-navigation">
                <div class="page-change-btn left-align">
                    <a href="/prevWeek/{{currentWeek}}">
                        <span><img src="../style/img/icons/square-increment.png" alt=""></span>
                        <span>Previous</span>
                    </a>
                </div>

                <div class="today-btn center-align">
                    <button class="dropdown-toggle" type="button" id="dropdown-menu-btn">
                        <span id="btn-text">Err</span>
                        <img src="../style/img/icons/increment-arrow.svg" alt="">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="dropdown-list">
                            <li><a href="/dashboard">Today</a></li>
                        </ul>
                    </div>
                </div>

                <div class="page-change-btn right-align">
                    <a href="/nextWeek/{{currentWeek}}">
                        <span>Next</span>
                        <span><img src="../style/img/icons/square-increment.png" alt=""></span>
                    </a>
                </div>
            </div>

            <div class="section-title">
                <div class="title">
                    <p>Tasks</p>
                </div>
                <div class="week-date">
                    <p id="week_date">{{weekRange.startDate}} to {{weekRange.endDate}}</p>
                </div>
            </div>

            <div class="main-wrapper">
                <form class="form-wrapper" method="POST" action="/submit-form/{{currentWeek}}">
                    <input type="text" id="name" name="name" placeholder="What do you need to do this week?"
                        autocomplete="off" autofocus>
                    <input class="test" type="submit" value="Submit" />
                </form>

                <div class="tag-wrapper">
                    <div class="tag active" id="all"><span></span><span>All</span></div>
                    <div class="tag" id="cardio"><span></span><span>Cardio</span></div>
                    <div class="tag" id="strength"><span></span><span>Strength</span></div>
                    <div class="tag" id="diet"><span></span><span>Diet</span></div>
                    <div class="tag" id="other"><span></span><span>Other</span></div>
                </div>

                <div class="list-wrapper">
                    <ul>
                        {{#activeRecurring}}
                        <li>
                            <div class="check-circle">
                                <a href="/complete/{{_id}}/{{currentWeek}}"><img src="../style/img/icons/circle-def.png"
                                        width="100" height="100"></a>
                            </div>
                            <div class="task">
                                <p>{{name}}</p>
                            </div>
                            <div class="edit-buttons">
                                <a href="/editTask/{{_id}}/{{currentWeek}}">Edit</a>
                                <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Delete</a></div>
                            </div>
                        </li>
                        {{/activeRecurring}}
                        {{^activeRecurring}}
                        <ul>
                            <li>
                                <p class="empty-msg">No active tasks found, enter them using the input above!</p>
                            </li>
                        </ul>
                        {{/activeRecurring}}
                        {{#completedRecurring}}
                        <li>
                            <div class="check-circle">
                                <a href="/retractCompleteTask/{{_id}}/{{currentWeek}}"><img
                                        src="../style/img/icons/circle-check.png" width="100" height="100"></a>
                            </div>
                            <div class="task checked">
                                <p>{{name}}</p>
                            </div>
                            <div class="edit-buttons">
                                <a href="/editTask/{{_id}}/{{currentWeek}}">Edit</a>
                                <div class="g-remove"><a href="/delete/{{_id}}/{{currentWeek}}">Delete</a></div>
                            </div>
                        </li>
                        {{/completedRecurring}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="help-screen-wrapper">
            <span class="screen-cover"></span>
            <div class="help-info-wrapper">
                <h1>HELP</h1>
                <h1>HELP</h1>
                <h1>HELP</h1>
                <h1>HELP</h1>
            </div>
        </div>
    </div>
</body>
<script>
    // Percentage bar calculation
    $(".goal-container").each(function () {
        var current = $(this).find(".current").text();
        var goal = $(this).find(".goal").text();
        var percentage = Math.round((current / goal) * 100);
        $(this).find(".progress-bar > .inner").css("width", percentage + "%");
    })

    // Use to check if dropdown is open
    var dropdownIsOpen = false;
    // Close dropdown if clicked outside of div
    $(document).mouseup(function (e) {
        var container = $(".dropdown-menu");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
            dropdownIsOpen = false;
        }
    });

    // Open dropdown if btn clicked
    $("#dropdown-menu-btn").on("click", () => {
        dropdownIsOpen ? $('.dropdown-menu').hide() : $('.dropdown-menu').show()
        dropdownIsOpen = !dropdownIsOpen;
    })

    // Show all 52 weeks of the year in dropdrown menu
    for (let i = 1; i < 53; i++) {
        var $a = $("<a/>").text("Week " + i).attr('href', i);
        $("<li/>").append($a).appendTo('.dropdown-list');
    }

    // Set "Current Week" Text to week being shown
    var url = window.location.pathname
    var myString = url.split('/')[2];
    $("#dropdown-menu-btn #btn-text").text("Week " + myString);

    infoIsOpen = false;
    // Info
    $(".info-icon").on("click", () => {
        $(".help-screen-wrapper").show();
        infoIsOpen = true;
    })

    $(document).mouseup(function (e) {
        var container = $(".help-info-wrapper");
        if (!container.is(e.target) && container.has(e.target).length === 0 && infoIsOpen == true) {
            $(".help-screen-wrapper").hide();
            infoIsOpen = false;
        }
    });

</script>

</html>