<!DOCTYPE html>
<html lang="en">

<head>
    {{>partials/head}}
</head>

<body>
    <div class="dashboard-wrapper">
        <div class="m-col-1">
            {{>partials/dash_navigation}}
        </div>
        <div class="o-col-1">
            <div class="col-title">
                <p>Edit Task</p>
            </div>
            <div class="col-body">
                <div class="item-container">
                    <div class="item-title">
                        <p>Enter a new name</p>
                    </div>
                    <div class="item-body">
                        <form method="post" role="form">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" id="name" name="name" placeholder="Enter the goal name" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>