<form method="post" role="form">
    <div class="form-group">
        <label for="name">Goal name</label>
        <input type="text" id="name" name="name" placeholder="Enter the goal name" required>
    </div>
    <div class="form-group">
        <label for="amount">Goal amount</label>
        <input type="text" id="amount" name="amount" placeholder="Enter a goal amount" required>
    </div>
    <div class="form-group">
        <input type="submit" value="Post entry">
    </div>
</form>