{{! <div class="dashboard-wrapper"> }}
  <div class="m-col-1">
    <div class="logo-wrapper">
        <a href="/"><img src="/../style/img/icons/logo.svg" alt=""></a>
    </div>

    <div class="page-links">
        <a href="/dashboard"><img src="/../style/img/icons/home.svg" alt=""></a>
        <a href="/account"><img src="/../style/img/icons/account.svg" alt=""></a>
        <a href="/account"><img src="/../style/img/icons/friends.svg" alt=""></a>
        <a href=""><img src="/../style/img/icons/sharelink.svg" alt=""></a>
        <a href="/logout"><img src="/../style/img/icons/logout.svg" alt=""></a>
    </div>

    {{! <div class="info-container">
        <div class="info-icon">
            <img src="../style/img/icons/info.svg" alt="">
        </div>
    </div> }}
  </div>
{{! </div> }}
