<div class="splash-navigation">
  <div class="left-align">
    <img src="../style/img/icons/logo.svg" alt="">
  </div>
  <div class="center-align">
    <ul>
      <li><a href="#about" id="active">About</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="/dashboard">Demonstation</a></li>
    </ul>
  </div>
  <div class="right-align">
    <ul>
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </div>
</div>