@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500&display=swap");
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  padding: 7.5px 15px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 7px 22px;
  font-size: 1.6em;
  letter-spacing: 0.05rem;
}

.navigation li:first-child {
  margin-right: 20px;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  cursor: pointer;
}

.navigation .logo {
  width: 175px;
}

.navigation .logo img {
  width: 100%;
  height: 100%;
}

html, body {
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  letter-spacing: 0.02rem;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.02em;
  margin: 0;
  padding-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1.375;
  margin: 1.5rem 0 0.65rem 0;
}

h3 {
  font-size: 2rem;
  line-height: 1.25;
  margin: 1.5rem 0 1.5rem 0;
}

h4 {
  font-size: 1rem;
  margin: 1.5rem 0 0;
  font-weight: normal;
}

p {
  margin: 0 0 1.5rem;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-hyphenate-limit-lines: 1;
  -webkit-hyphenate-limit-lines: 1;
  -ms-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

a {
  text-decoration: none;
}

p a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, currentcolor));
  background-image: linear-gradient(to bottom, transparent 50%, currentcolor 50%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 0.95em;
}

aside,
figcaption,
footer {
  font-size: 0.875rem;
}

figcaption p {
  max-width: 30em;
}

h1,
h2 {
  max-width: 9em;
}

.u-emphasis {
  font-weight: bold;
}

body, html {
  background-color: white;
  padding: 0;
  margin: 0;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.dashboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100vh;
  border-right: black 1px solid;
}

.goal-tracker {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 15px 15px 15px;
}

.goal-tracker .goal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal-tracker .goal-top .dropdown-toggle img {
  width: 100%;
  height: 100%;
}

.goal-tracker .g-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goal-tracker:nth-child(2) {
  border-top: black 1px solid;
}

.goal-container {
  width: 300px;
  margin: 8px 0;
}

.goal-container .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goal-container .g-i-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goal-container .g-i-progress h2 {
  margin: 0 8px;
}

.goal-container .g-i-progress .increment, .goal-container .g-i-progress .decrement {
  margin-bottom: -2px;
}

.goal-container .g-i-progress .increment {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.goal-container .g-i-progress .decrement {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.goal-container .progress-bar {
  border: 1px solid black;
  border-radius: 8px;
  height: 12px;
  overflow: hidden;
}

.goal-container .progress-bar .inner {
  min-height: 100%;
  border-radius: 8px;
  background-color: #1e1e1e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: transparent;
}

.goal-container .g-remove {
  text-align: left;
}

.goal-container .g-remove a {
  text-decoration: none;
  color: black;
}

.main-bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-bar a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid black;
  padding: 8px 12px;
}

.top-bar .today-btn {
  margin-right: 25px;
}

.top-bar .page-change-btn {
  color: black;
}

.main-wrapper {
  padding: 15px 15px;
}

.list-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-wrapper ul {
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0 0 0;
  margin: 0;
}

.list-wrapper ul p {
  padding: 0;
  margin: 0;
}

.list-wrapper ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.list-wrapper ul li .check-circle {
  display: block;
}

.list-wrapper ul li .check-circle a {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-wrapper ul li .check-circle img {
  width: 100%;
  height: 100%;
}

.list-wrapper ul li .task {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 20px;
  font-size: 28px;
}

.list-wrapper ul li .edit-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-wrapper ul li .edit-buttons a:nth-child(1) {
  margin-right: 10px;
}

.list-wrapper ul .checked p {
  color: rgba(0, 0, 0, 0.35);
}

.list-wrapper ul .checked {
  text-decoration: line-through;
}
/*# sourceMappingURL=main.css.map */