@import "modules/navigation";
@import "core/typography"; 

body, html {
    background-color: white;
    padding: 0;
    margin: 0;
}

h1, h2 { padding: 0; margin: 0; }
h1 {font-weight: 500;}
h2 {font-size: 1.5em; font-weight: 400;}

.dashboard-wrapper {
    display: flex;
    //overflow-x: hidden;
}


// --- Sidebar --- //
.sidebar {
    width: fit-content;
    height: 100vh;
    border-right: black 1px solid;
}

.goal-tracker {
    width: fit-content;
    padding: 15px 15px 15px 15px;
    
    .goal-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dropdown-toggle {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .g-total {
        display: flex;
        justify-content: space-between;
    }
}

.goal-tracker:nth-child(2) {
    border-top: black 1px solid;
    // border-bottom: black 1px solid;
}

.goal-container {
    width: 300px;
    margin: 8px 0;
    
    .text-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .g-i-progress {
        display: flex;
        align-items: center;
        h2 {margin: 0 8px;}
        .increment, .decrement {
            margin-bottom: -2px;
        }
        .increment {transform: rotate(-90deg)}
        .decrement {transform: rotate(90deg)}
    }

    .progress-bar {
        border: 1px solid black;
        border-radius: 8px;
        height: 12px;
        overflow: hidden;
        
        .inner {
            min-height: 100%;
            border-radius: 8px;
            background-color: rgb(30, 30, 30);
            box-sizing: border-box;
            color: transparent;
        }
    }

    .g-remove {
        text-align: left;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.main-bar {
    flex-grow: 1;
    position: relative;
}

.top-bar {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 15px 10px;
    box-sizing: border-box;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
        border: 1px solid black;
        padding: 8px 12px;
    }

    .today-btn {
        margin-right: 25px;
    }

    .page-change-btn {
        color: black;
    }
}

.main-wrapper {
    padding: 15px 15px;
}

.list-wrapper {
    box-sizing: border-box;
    ul {
        list-style: none;
        box-sizing: border-box;
        padding: 10px 0 0 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            margin: 0 0 10px 0;
            .check-circle {
                display: block;
                a {
                    width: 24px; // Checkbox Size
                    display: flex;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .task {
                flex-grow: 1;
                margin: 0 20px;
                font-size: 28px;
            }

            .edit-buttons {
                display: flex;
                justify-content: space-between;
            }


            .edit-buttons a:nth-child(1) {
                margin-right: 10px;
            }
        }
    }
}