// Core
@import 'core/typography';
@import 'core/colour';
@import 'core/base';

// Modules
@import 'modules/splash-navigation';

// Pages
@import 'pages/splash';
@import 'pages/registration';
@import 'pages/dashboard';

body,
html {
  background-color: white;
  padding: 0;
  margin: 0;
}
